pyversion=3.7.7
pvenv=webchecker

use python ${pyversion}

# Create the virtualenv if not yet done
layout virtualenv ${pyversion} ${pvenv}

# activate it
layout activate ${pvenv}-${pyversion}

export PYTHONPATH=${PWD}
export PROJECT_ROOT=${PWD}
unset PS1
#use python 3.7.7

